//
   Created by yn on 24/05/17.
doctype html
html
    head
        title('mainPage')
        meta(charset='utf-8')
        //-inject:css
        //- endinject
    body
        #mainPage
        //-inject:js
        //-endinject

