
//
   Created by yn on 18/05/17.

doctype html
html
    head
        title(Docker Cloud Platform)
        meta(charset="UTF-8")
        //- inject:css
        //- endinject
    body
        #application
        //- inject:js
        //- endinject

